In [12]:
# autoreload
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [25]:
import matplotlib.pyplot as plt

from ophys_dataset import OphysDataset

In [23]:
from grab_ophys_outputs import GrabOphysOutputs as GOO
goo = GOO("/allen/programs/mindscope/workgroups/learning/mattd/co_dev/data/1098444819")
goo.

In [44]:
goo2 = GOO(oeid=1098444819, data_path="/allen/programs/mindscope/workgroups/learning/mattd/co_dev/data")
goo2.cell_specimen_table

AttributeError: 'GrabOphysOutputs' object has no attribute 'cell_specimen_table'

In [65]:
f["RMSE"][:]

array([       nan, 0.00569258, 0.00569414, 0.00979267, 0.0080331 ,
       0.00714845, 0.00615457, 0.02456244, 0.00634588, 0.00604954,
       0.00754254, 0.00420752, 0.00506034, 0.00625588, 0.01245495,
       0.01615214, 0.0077186 , 0.00624411, 0.00812951, 0.00558329,
       0.00817753, 0.00803857, 0.00594623, 0.00601239, 0.00789298,
              nan, 0.00653935, 0.00638903, 0.01594622, 0.00844129,
       0.00367812, 0.00751824])

In [75]:
dataset = OphysDataset("/allen/programs/mindscope/workgroups/learning/mattd/co_dev/data/1098444819")
dataset.neuropil_traces

,neuropil_fluorescence_traces,r,RMSE
cell_specimen_id,,,
0,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0.0,NaN
1,"[67.48739532619277, 95.44012376364475, 90.9908...",0.34,0.005693
10,"[94.32130250648225, 77.74442869490059, 77.6676...",0.319,0.005694
11,"[72.80158770527538, 67.57779901177153, 98.0606...",0.295,0.009793
12,"[920.3088844794999, 870.9629111987497, 927.665...",0.413,0.008033
13,"[114.68943244216399, 116.87230995139078, 109.6...",0.455,0.007148
14,"[105.54496885069815, 101.61335577037829, 108.5...",0.327,0.006155
15,"[147.8145497577691, 236.2173637008153, 246.055...",0.462935,0.024562
16,"[275.51700961588443, 204.8850569156401, 176.41...",0.554,0.006346
17,"[52.15512706855792, 72.80959606292052, 50.4060...",0.525,0.00605
18,"[108.7342336842105, 127.92270526315787, 111.75...",0.44,0.007543
19,"[59.21581403848029, 56.733464557849054, 62.119...",0.448,0.004208
2,"[72.76824974315868, 68.46815634631548, 78.4363...",0.3,0.00506
20,"[123.47320361605142, 138.132543148304, 106.866...",0.401,0.006256
21,"[171.64851944804047, 242.88412342591502, 150.6...",0.869,0.012455
22,"[53.78751531420524, 59.133934518570655, 31.771...",0.638,0.016152
23,"[129.42370838709675, 139.86486718894008, 153.0...",0.805,0.007719
24,"[125.11230675990673, 111.91961118881116, 111.7...",0.533,0.006244
25,"[82.31568924817199, 94.88855060137818, 94.8845...",0.673,0.00813
26,"[103.27898239543151, 100.3367004576053, 82.004...",0.331,0.005583
27,"[110.9072118351788, 89.63023997095661, 93.5569...",0.329,0.008178
28,"[113.92106783973871, 131.4776631664891, 96.064...",0.917,0.008039
29,"[79.443693483434, 87.6469845628165, 82.6753403...",0.445,0.005946
3,"[88.57766597729287, 80.96728324821676, 78.3519...",0.239,0.006012
30,"[64.92014915353181, 62.11621862230005, 75.7861...",0.563,0.007893
31,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0.0,NaN
4,"[72.27936034115137, 82.18752665245202, 80.8358...",0.346,0.006539
5,"[160.3080879148177, 192.41361392455087, 185.57...",0.44,0.006389
6,"[69.15439269009028, 91.61109148264983, 83.7113...",0.612,0.015946
7,"[75.58216955990866, 62.287785953177234, 86.280...",0.768,0.008441
8,"[80.08794964194963, 76.94216585816585, 86.1336...",0.322,0.003678
9,"[89.6937008199984, 106.81722155879308, 116.845...",0.704,0.007518

In [48]:
dataset = OphysDataset("/allen/programs/mindscope/workgroups/learning/mattd/co_dev/data/1098444819")
dataset.cell_specimen_table.head()

,x,y,width,height,mask_matrix,valid_roi,mask_image_plane,exclusion_labels,cell_roi_id,max_correction_up,max_correction_down,max_correction_left,max_correction_right
cell_specimen_id,,,,,,,,,,,,,
0,44,0,6,6,"[[False, True, True, True, False, False], [Tru...",False,0,[small_size],0,0,0,0,0
1,79,12,14,17,"[[False, False, False, False, False, False, Tr...",True,0,[],1,0,0,0,0
2,206,49,20,11,"[[False, False, False, False, False, False, Fa...",True,0,[],2,0,0,0,0
3,344,58,12,11,"[[False, True, True, True, True, False, False,...",True,0,[],3,0,0,0,0
4,53,66,15,13,"[[False, False, False, False, False, False, Fa...",True,0,[],4,0,0,0,0